<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SARPWsSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="SARPWsSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://vpstss05.vpsvirtual.com/CelcomMobilityTest/SARPWs.asmx"
                binding="basicHttpBinding" bindingConfiguration="SARPWsSoap"
                contract="ServiceReference1.SARPWsSoap" name="SARPWsSoap" />
        </client>
    </system.serviceModel>
</configuration>